.banner{
    margin-top: 5rem;
    width: 230px;
    height: 300px;
    border-radius: 1rem;
    position: relative;
    z-index: 120;
    background: var(--color__lightgreen) url(../../../assets/laptop-png-6778.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    transform: translateX(-1000vw);
    animation-name: animation__1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 1s;
}

@keyframes animation__1 {
    0% {transform: translateX(-100%);}
    100%{transform: translateX(0%);}
}

.link{
    display: block;
    width: 100%;
    height: 100%;
    color: var(--color__white);
    padding: 1.5rem 1rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content span{
    display: block;
}



.close{
    border: none;
    background-color: transparent;
    position: absolute;
    right: .75rem;
    top: .75rem;
    z-index: 130;
}