.container{
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 120;
    overflow: hidden;
    background-color: rgb(0, 0, 0, 70%);
}

.content{
    position: relative;
    padding: 1.5rem .5rem;
    z-index: 100;
    background-color: var(--color__white);
    border: 1px solid var(--color__lightgray);
    border-radius:  0 2rem 2rem 0;
    box-shadow: 0px 0px 100px var(--color__gray);
    color: var(--color__gray);
    width: 50%;
    height: 100%;
    color: var(--color__gray);

    transform: translateX(-100%);
    animation-name: animation__1;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes animation__1 {
    0% {transform: translateX(-100%);}
    100%{transform: translateX(0%);}
}

.content a{
    text-decoration: none;
    color: var(--color__gray);
}
.content h4{
    border-bottom: 1px solid var(--color__lightgray);
    margin: 1rem;
}


.link{
    text-decoration: none;
    color: var(--color__gray);
    font-size: 1.3rem;
    padding: 0;
    border-left: 5px solid var(--color__lightgreen);
}

.submenu{
    width: 100%;
    margin: 0;
    padding-left: 0;
}
.submenu li {
    border-left: 5px solid var(--color__lightgreen);
    padding-left: .5rem;
    margin: .5rem;
}
.submenu a{
    color: var(--color__gray);
    text-decoration: none;
    font-size: 1.3rem;
}


.close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    padding: .1rem .5rem;
    border-radius: .5rem;
    background-color: inherit;
    border: none;
    cursor: pointer;
    transition: all linear .2s;
}

@media screen and (max-width: 480px){
    .content{
        width: 80%;
    }

}