.subscribe_container{
    width: 100%;
    background-color: var(--color__lightgreen);

}   
.subscribe__content{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 50px;
    padding: 1.5rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.input__container >div:nth-child(2){
    position: absolute;
    top: -1rem;
    left: 2rem;
}







.description{
    width: auto;
    text-align: center;
}
.description h4{
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--color__gray);
}
.description h4 svg{
    margin-right: .5rem;
}


.input__container{
    position: relative;
    width: auto;
    max-width: 50%;
    text-align: center;
}

.error__div{
    position: absolute;
    top: 2.4rem;
    left: 7rem;
    font-size: .9rem;
    color: var(--color__red);
    font-weight: 600;
}
.error__div>p{
    margin-bottom: 0;
}

.input{
    width: auto;
    min-width: 250px;
    height: 2.5rem;
    border: none;
    border-radius: 1.5rem 0 0 1.5rem;
    padding-left: 1.3rem;
    outline: none;
    font-size: .9rem;
}

  
.send{
    cursor: pointer;
    width: 7rem;
    height: 2.5rem;
    border-radius: 0 1.5rem 1.5rem 0;
    color: white;
    font-size: .9rem;
    font-weight: 600;
    background-color: var(--color__gray);
    border: none;
} 

.send:hover{
    box-shadow: 1px 1px 5px var(--color__gray);
}
  



@media screen and (max-width: 992px){
    .input__container{
        max-width:100%;
    }
    .input{
        min-width: 200px;
    }
    
    .description{
        max-width: 50%;
        
    }
}

@media screen and (max-width: 768px){
    .subscribe__content{
        flex-direction: column;
    }
    .input{
        min-width: 250px;
    }
    .error__div{
        left: 4rem;
     
    }
    .description{
        max-width: 100%;
        
    }
}
@media screen and (max-width: 480px){
    .input{
        width: 50%;
        min-width: 100px;
       
    }
}